<div class="banner banner-article" style="background: center / cover url('{{ vich_uploader_asset(article.images[0]) }}')">
	<div class="banner-header">
		<h1>{{ article.title|sanitize_html }}</h1>
	</div>
</div>
