{% extends 'base.html.twig' %}

{% block title %}Edit Statistique{% endblock %}

{% block body %}
    <h1>Edit Statistique</h1>

    {{ include('statistique/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_statistique_index') }}">back to list</a>

    {{ include('statistique/_delete_form.html.twig') }}
{% endblock %}
