{% extends 'base.html.twig' %}

{% block title %}New Statistique{% endblock %}

{% block body %}
    <h1>Create new Statistique</h1>

    {{ include('statistique/_form.html.twig') }}

    <a href="{{ path('app_statistique_index') }}">back to list</a>
{% endblock %}
