.navbar {
    background-color: rgba(163, 198, 76, 0.453);
    margin-bottom: 100px;
}
.logo {
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-right: 10px;
}
.container {
    background-color: rgba(83, 241, 241, 0.453);
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 100px;
    padding: 10px;
    
}

.menu {
    display: flex;
    justify-content: center;
}