<header>

	<img class="logo" src="{{ asset("/images/articles/logo.png")}}" alt="">

	<div class="navbar">

		<nav>
			<a href="#" class="nav-item is-active" data-active-color="orange" data-target="Home">Home</a>
			<a href="#" class="nav-item" data-active-color="green" data-target="About">About</a>
			<a href="#" class="nav-item" data-active-color="blue" data-target="Testimonials">Nos missions</a>
			<a
