<header>

	<img class="logo" src="{{ asset("/images/articles/logo.png")}}" alt="">

	<div class="navbar">

		<nav>
			<a href="#" class="nav-item is-active" data-active-color="orange" data-target="Home">Home</a>
			<a href="#" class="nav-item" data-active-color="green" data-target="About">About</a>
			<a href="#" class="nav-item" data-active-color="blue" data-target="Testimonials">Nos missions</a>
			<a href="./Article/index.html.twig" class="nav-item" data-active-color="rebeccapurple" data-target="Contact">Contact</a>
			<span class="nav-indicator"></span>
		</nav>

	</div>
	<div class="titre">
		<h1>Association Terre Afrique</h1>
		<h2>La jeunesse rurale préserve et développe durablement les terroirs</h2>
		<h3>"Pour un avenir meilleur"</h3>
	</div>

</header>
