<div class="navbar" id="sticker">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-3">
				<div class="logo">
					<a href="index.html"><img src="image/logo.png" alt=""></a>
				</div>
			</div>
			<div class="col-lg-9 col-md-9 col-sm-9 hidden-xs">
				<div class="main-menu">
					<nav>
						<ul>
							<li class="active parent">
								<a href="index.html">Home</a>
								<ul class="submenu"></ul>
							</li>
							<li>
								<a href="causes.html">Causes</a>
							</li>
							<li>
								<a href="blog.html">Blog</a>
							</li>
							<li class="parent"></li>
							<li>
								<a href="#">
									<span class="login">login!</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</div></body></header>
